<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="baseurl" value="http://192.168.12.7:84/CKYC_Customerpushapi/api/ckyc" />
		<add key="filePath" value="D:\\IFLOW_CKYC\\CKYC_Images\\CustomerSourcePath\\" />
		<add key="filePathfolder" value="D:\\IFLOW_CKYC\\DownloadFolder\\" />
		<add key="sCkycLog" value="D:\\CKCYSuccessLog\\" />
		<add key="username" value="admin" />
		<add key="password" value="Pais@123" />
	</appSettings>
	<connectionStrings>
		<add name="defaultconnection" connectionString="Data Source=192.168.10.3;Initial Catalog=SBIPDLCOL;User Id=sa;password=hariramteli;Trusted_Connection=False;MultipleActiveResultSets=True;Encrypt=false" providerName="System.Data.SqlClient" />
		<!--<add name="defaultconnection" connectionString="Data Source=BETA;Initial Catalog=SBIPDLCOL;User Id=sa;password=Sql@2019;Trusted_Connection=False;MultipleActiveResultSets=True;Encrypt=false" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>